*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

ul, ol, li{
    list-style: none;
}
main{
    width: 100vw;
    height: 100vh;
}
.roxo{
    background-color: purple;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    gap: 10px;
    width: 100vw;
    height: 20vh;
}
.roxo div{
    background-color: rgb(190, 147, 233);
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.azul{
    background-color: blue;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 10px;
    width: 100vw;
    height: 20vh;

}
.azul div{
    background-color: aqua;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.amarelo{
    background-color: rgb(203, 203, 12);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100vw;
    height: 20vh;
}
.amarelo div{
    background-color: yellow;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.vermelho{
    background-color: rgb(252, 135, 135);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100vw;
    height: 20vh;
}
.vermelho div{
    background-color: red;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.verde{
    background-color: rgb(151, 252, 115);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    width: 100vw;
    height: 20vh;
}
.verde div{
    background-color: green;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
