*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

ul, ol, li{
    list-style: none;
}
.roxo{
    background-color: purple;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    gap: 10px;
    width: 100vw;
    height: 200px;
}
.roxo div{
    background-color: rgb(190, 147, 233);
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.azul{
    background-color: blue;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 10px;
    width: 100vw;
    height: 200px;

}
.azul div{
    background-color: aqua;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
